
/* Estilos Globais */


body {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0C0F17;
    color: #fff
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

/* Cabeçalho */
header {
    position: fixed;
    max-width: 1640px;
    height: 50px; /* Altura ajustada para px */
    top: 20px;
    left: 20px;
    right: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    background-color: #1C1836;
    z-index: 100;
    border-radius: 50px;
    padding: 5px 15px; /* Reduzido o padding vertical */
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
}

nav {
    display: flex;
    align-items: center; /* Garante o alinhamento vertical no centro */
    width: 100%; /* Preenche toda a largura disponível */
    justify-content: center; /* Alinha os itens à direita */
    gap: 10px; /* Adicionado espaçamento entre os itens */

}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: auto; /* Certifica-se de que o conteúdo não vai ocupar mais espaço do que o necessário */
}

nav li {
    margin: 0 10px;
    box-sizing: border-box;
}

nav a {
    color: #878595;
    transition: color 0.3s ease;
    padding: 5px 15px; /* Reduzido o padding vertical */
    text-decoration: none;
    margin: 0 5px;
    box-sizing: border-box;
}

nav a:hover {
    color: #3F2A76;
    border-radius: 5px;
}

/*home */

#home {
    max-width: 1640px;
    height: 765px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
}

.home-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.home-name h1 {
    margin: 24px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 52px;
    line-height: 61px;
}

.home-name h6 {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    opacity: 1;
}

.home-social-media {
    display: flex;
    margin-top: 24px;
    gap: 16px;
}

.home-social-media img {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.home-social-media img:hover {
    transition: all 0.4s ease-in-out;
    scale: 110%;
}

.home-center img {
    transition: all 0.8s ease-in-out;
    height: 400px;
}

.home-center img:hover {
    transform: scale(1.05);
}

.home-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home-right a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8px;
    gap: 4px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.home-contact-button {
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 16px;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 16px;
    background-color: transparent;
    color: rgba(123, 74, 226, 0.5);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer; /* Adicionado para garantir o cursor de pointer */
}

.home-contact-button:hover {
    transition: all 0.2s ease-out;
    border: 1px solid transparent;
    background: rgba(123, 74, 226, 0.1);
}


/* Seção About Me */

/* Variáveis CSS */
:root {
    --primary-color: #5a37a4;
    --primary-color-opacity: rgba(123, 74, 226, 0.1);
    --white: #ffffff;
    --text-opacity: 50%;
    --border-radius: 16px;
    --tag-border-radius: 5px;
    --margin-bottom: 20px;
    --section-padding: 140px;
}

/* Seção "Sobre Mim" */
#sobreMim {
    width: 100%;
    max-width: 1640px;
    margin-bottom: 140px;
    padding: 0 140px;
    box-sizing: border-box;
}

.container-sobre-mim {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

/* Imagem de perfil */
.imagem-perfil {
    width: 454px;
    height: 454px;
    object-fit: cover;
    margin-right: 30px;
}

/* Contêiner de descrição */
.descricao-sobre-mim {
    flex-grow: 1;
    margin-left: 30px; /* Adiciona margem esquerda para deslocar o texto para a direita */
}

/* Tag de seção (caixa roxa) */
.caixa-roxa {
    width: 160px;
    height: 45px;
    background-color: rgba(123, 74, 226, 0.1);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7B4AE2;
    margin-bottom: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
}

/* Título da descrição */
.nome-perfil {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
    margin-bottom: 20px; /* Adiciona margem inferior para espaçamento */
}

/* Parágrafos da descrição */
.introducao-perfil,
.detalhes-perfil {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    opacity: 50%;
    margin-bottom: 15px; /* Adiciona margem inferior para espaçamento */
}

.detalhes-perfil {
    list-style: none;
    padding-left: 0;
}
/* Seção Portfólio */
#portfolio {
    width: 100%;
    max-width: 1640px;
    margin-bottom: 100px;
    padding: 0 140px;
    box-sizing: border-box;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.header-content {
    display: flex;
    align-items: center;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}

.buttons {
    display: flex;
}

.filter-button {
    padding: 10px 20px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    color: rgb(255, 254, 254);
}

.filter-button.active {
    background-color: #007bff;
    color: black;
}

/* Cards Portfólio */
#portfolio .portfolio-cards .card {
    flex-basis: calc(50% - 24px);
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

#portfolio .portfolio-cards .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#portfolio .portfolio-cards .card h3 {
    margin-bottom: 5px;
    color: black;
}

#portfolio .portfolio-cards .card a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.see-more-projects {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* Estilos Globais */
:root {
    --primary-color: #5a5a5a;
    --secondary-color: #666;
    --background-color: #f9f9f9;
    --border-color: #ddd;
    --title-font-size: 36px;
    --subtitle-font-size: 24px;
    --text-font-size: 16px;
    --small-text-font-size: 14px;
}
#carreira {
    text-align: center;
    padding: 40px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.tag-section {
    font-size: 18px;
    color: #5a5a5a;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
}

.columns {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}

.column {
    width: 45%;
    text-align: left;
    max-width: 550px;
}

.column h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.column h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#carreira .cards .card {
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: #090e16;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 16px;
    transition: all 0.6s ease-in-out;
    position: relative;
}

#carreira .cards .card:hover {
    background-color: rgba(123, 74, 226, 0.1);
    border: 1px solid transparent;
}

#carreira .cards .card[data-status="atual"],
#carreira .cards .card[data-status="estudando"] {
    border: 2px solid #4ae290;
    background: rgba(74, 226, 144, 0.1);
}

#carreira .cards .card h4 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
}

#carreira .cards .card p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

#carreira .cards .card time {
    font-size: 14px;
    color: #7b4ae2;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex; /* Adiciona flexbox para alinhar a bolinha */
    align-items: center; /* Alinha a bolinha verticalmente */
}

#carreira .cards .card[data-status="atual"] time,
#carreira .cards .card[data-status="estudando"] time {
    color: #4ae290;
}

.pulsing-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4ae290;
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); /* Sombra inicial menor */
    animation: pulse 1.5s infinite linear; /* Adicionei linear para suavizar a transição */
    margin-left: 5px;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); /* Sombra inicial */
    }
    100% {
      box-shadow: 0 0 0 10px rgba(204, 169, 44, 0); /* Sombra máxima */
    }
  }

.tecnologias {
    border-radius: 16px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tecnologias span {
    background-color: #7b4ae2;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.card h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.card p {
    font-size: var(--text-font-size);
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
}

.card time {
    font-size: var(--small-text-font-size);
    color: #7B4AE2;
    font-weight: bold;
}

.card time span {
    font-weight: normal;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .columns {
        flex-direction: column;
        gap: 20px;
    }

    .column {
        width: 100%;
    }
}
/* Skills */
#skills {
    padding: 75px 0;
    text-align: center;
}

.skills-container {
    max-width: 1200px;
    margin: 0 auto;
}

#skills h2 {
    text-align: center;
}

.daily-techs, .other-techs {
    margin-top: 30px;
}

.daily-techs h3, .other-techs h3 {
    margin-bottom: 20px;
}

.skills-list {
    display: flex;
    justify-content: center;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100px; /* Adicionei esta linha */
}

.skill-box {
    border: none; /* Remove a borda */
    padding: 0; /* Remove o padding */
    border-radius: 0; /* Remove o border-radius */
    transition: none; /* Remove a transição */
}

.skill-box:hover {
    box-shadow: none; /* Remove o box-shadow no hover */
}

.skill-name {
    display: none;
    margin-top: 5px;
    font-size: 0.9em;
    color: #432C7C; /* Cor inicial do texto */

}

.skill-box:hover + .skill-name {
    display: block;
    font-weight: bold;
}

.skill-icon {
    width: 64px; /* Aumenta o tamanho dos ícones para 64px */
    height: 64px; /* Garante que os ícones mantenham a proporção */
}

/* Contato */
#contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}

.container-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.cabecalho-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.cabecalho-contato h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #ffffff;
    margin: 0;
}

.info-contato {
    display: flex;
    align-items: center;
    gap: 40px;
}



.info-email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-email h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #7b4ae2;
    margin: 0;
}

.info-email p {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.voltar-ao-topo {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgba(123, 74, 226, 0.5);
    text-decoration: none;
}

.icone-email, .icone-seta-cima {
    width: 32px;
    height: 32px;
}

.botao-whatsapp {
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 16px;
    border: 1px solid rgba(123, 74, 226, 0.5);
    border-radius: 16px;
    background-color: transparent; /* Adicionado para remover o fundo verde */
    color: rgba(123, 74, 226, 0.5); /* Adicionado para definir a cor do texto */
    text-decoration: none; /* Adicionado para remover a decoração de link */
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
}

.botao-whatsapp:hover {
    transition: all 0.2s ease-out;
    border: 1px solid transparent;
    background: rgba(123, 74, 226, 0.1);
}

.icone-copiar {
    width: 25px; /* Ajuste o tamanho conforme necessário */
    height: 25px; /* Ajuste o tamanho conforme necessário */
    cursor: pointer; /* Muda o cursor para uma mãozinha */
    margin-left: 10px; /* Adiciona um pequeno espaçamento */
}
/* Estilos responsivos */
@media (max-width: 768px) {
    .container-contato {
        align-items: flex-start;
        gap: 24px;
    }

    .cabecalho-contato h1 {
        font-size: 24px;
    }

    .info-contato {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
}
footer {
    width: 100%;
    max-width: 1640px;
    height: auto;
    padding: 10px 24px;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    /* background-color: #f0f0f0; Remove a cor de fundo */
}

.rodape-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(123, 74, 226, 0.1);
}

.rodape-container h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.social-medias {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 0 5%;
    padding-top: 10px;
}

.social-medias img {
    cursor: pointer;
}

.social-medias img:hover {
    transition: all 0.4s ease-in-out;
    scale: 1.1;
}

/* Estilos responsivos */
@media (max-width: 525px) {
    .rodape-container {
        flex-direction: column;
        gap: 1rem;
        height: auto;
    }
}